.git
.github
.gitignore
.DS_Store
**/.DS_Store
**/__pycache__
**/*.pyc
venv-morph
venv-morphit
*.md
!README.md
imgs/
mesh_models/
src/results/
src/build/
src/triangle_hash.cpython-*-darwin.so
k8s/
requirements-mac.txt
